
<section id="about" class="about">
  <div class="container about__inner">

    <div class="about__photo fade-in-left">
      <img
        src="assets\img\Profile_office.png"
        alt="{{ 'ABOUT.PHOTO_ALT' | translate }}"
      />
    </div>

    <div class="about__content fade-in-right">
      <h2 class="about__title fade-in-up">
        {{ 'ABOUT.TITLE' | translate }}
      </h2>
      <p class="about__text fade-in-up">
        {{ 'ABOUT.TEXT_PART1' | translate }}
      </p>
      <p class="about__text fade-in-up">
        {{ 'ABOUT.TEXT_PART2' | translate }}
      </p>

      <div class="i-am-section scale-in">
        <div>
          <h2 class="i-am-title">
            {{ 'ABOUT.I_AM_TITLE' | translate }}
          </h2>
        </div>
        <div class="first-column">
          <div class="icon-group">
            <img
              src="assets/why-me-icons/located-in-isny-2.png"
              alt="{{ 'ABOUT.ICONS.LOCATED.IN_CITY' | translate }}"
              class="icon-normal"
            />
            <img
              src="assets/why-me-icons/located-in-isny-1.png"
              alt="{{ 'ABOUT.ICONS.LOCATED.IN_CITY_HOVER' | translate }}"
              class="icon-hover"
            />
          </div>
          <div><img class="first_arrow" src="assets/why-me-icons/Aroow 01.png" alt="" /></div>
          <div class="icon-group">
            <img
              src="assets/why-me-icons/open-to-work-remote.png"
              alt="{{ 'ABOUT.ICONS.OPEN_TO_WORK_REMOTE' | translate }}"
              class="icon-normal"
            />
            <img
              src="assets/why-me-icons/open-to-work-remote-hover.png"
              alt="{{ 'ABOUT.ICONS.OPEN_TO_WORK_REMOTE_HOVER' | translate }}"
              class="icon-hover"
            />
          </div>
        </div>
        <div class="second-column">
          <div class="icon-group">
            <img
              src="assets/why-me-icons/open-to-relocate.png"
              alt="{{ 'ABOUT.ICONS.OPEN_TO_RELOCATE' | translate }}"
              class="icon-relocate"
            />
            <img
              src="assets/why-me-icons/open-to-relocate-hover.png"
              alt="{{ 'ABOUT.ICONS.OPEN_TO_RELOCATE_HOVER' | translate }}"
              class="icon-relocate-hover"
            />
          </div>
          <div class="second-arrow">
            <div><img src="assets/why-me-icons/Arrow 02.png" alt="" /></div>
            <div><img src="assets/why-me-icons/Arrow 03.png" alt="" /></div>
          </div>
        </div>
      </div>

      <div class="i-am-section-mobile">
        <div class="arrow-down-mobile">
          <img src="assets/why-me-icons/Aroow 01.png" alt="" />
        </div>
        <div>
          <img src="assets/why-me-icons/mobile-located.png" alt="" />
        </div>
        <div class="arrow-reverse-mobile">
          <img src="assets/why-me-icons/Aroow 01.png" alt="" />
        </div>
      </div>

      <a href="#footer" class="btn btn--primary about__btn slide-in-bottom">
        {{ 'ABOUT.BUTTON' | translate }}
      </a>
    </div>
  </div>
</section>
