<footer id="footer" class="site-footer">
  <div class="footer__inner container">

    <div class="footer__social mobile">
      <a href="https://github.com/Toker-Nuri" target="_blank" rel="noopener">
        <img src="assets/icons/Github-button.png" alt="{{ 'FOOTER.SOCIAL.GITHUB_ALT' | translate }}" />
      </a>
      <a href="mailto:nuri.toker@yahoo.com">
        <img src="assets/icons/Email-button.png" alt="{{ 'FOOTER.SOCIAL.EMAIL_ALT' | translate }}" />
      </a>
      <a href="https://www.linkedin.com/in/nuri-toker-649aa334b/" target="_blank" rel="noopener">
        <img src="assets/icons/Linkedin-button.png" alt="{{ 'FOOTER.SOCIAL.LINKEDIN_ALT' | translate }}" />
      </a>
    </div>

    <div class="footer__brand">
      {{ 'FOOTER.BRAND' | translate }} 
      <span class="footer__role">{{ 'FOOTER.ROLE' | translate }}</span>
    </div>
  
    <div class="footer__legal">
      {{ 'FOOTER.COPYRIGHT' | translate }}
      <div class="footer__legal-links">
        <a routerLink="/legal" class="footer__link">
          {{ 'FOOTER.LEGAL_NOTICE' | translate }}
        </a>
        <a routerLink="/privacy-policy" class="footer__link">
          {{ 'FOOTER.PRIVACY_POLICY' | translate }}
        </a>
      </div>
    </div>
  
    <div class="footer__social desktop">
      <a href="https://github.com/Toker-Nuri" target="_blank" rel="noopener">
        <img src="assets/icons/Github-button.png" alt="{{ 'FOOTER.SOCIAL.GITHUB_ALT' | translate }}" />
      </a>
      <a href="mailto:nuri.toker@yahoo.com">
        <img src="assets/icons/Email-button.png" alt="{{ 'FOOTER.SOCIAL.EMAIL_ALT' | translate }}" />
      </a>
      <a href="https://www.linkedin.com/in/nuri-toker-649aa334b/" target="_blank" rel="noopener">
        <img src="assets/icons/Linkedin-button.png" alt="{{ 'FOOTER.SOCIAL.LINKEDIN_ALT' | translate }}" />
      </a>
    </div>

  </div>
</footer>
