<section id="hero" class="hero">
  <div class="container hero__inner">
    <a href="#contact" class="hero__contact-link">
      {{ 'HERO.CONTACT' | translate }}
    </a>

    <div class="hero__text">
      <p class="hero__subtitle">
        {{ 'HERO.SUBTITLE' | translate }}
      </p>
      <h1 class="hero__headline">
        Nuri Toker
      </h1>
    </div>

    <a href="#about" class="hero__scroll">
      <img
        class="arrow-down"
        src="assets/icons/arrow-down.png"
        alt="{{ 'HERO.SCROLL_ALT' | translate }}"
      />
    </a>

    <div class="hero__image">
      <img
        src="assets/img/profile.png"
        alt="Profilfoto Nuri Toker"
      />
    </div>
  </div>
</section>
