/* src/app/components/skills/skills.component.scss */

.skills {
  background: transparent;
  display: flex;
  align-items: center;

  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
  }

  &__title {
    font-family: 'Roboto Mono', monospace;
    font-size: 48px;
    color: #E15544;
    margin: 0 0 1rem;
    text-align: left;
    white-space: nowrap;
    padding-left:24px;
    font-weight:500;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 2rem;
  }

  .skill {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__icon {
      width: 96px;
      height: 100px;
      margin-bottom: 0.5rem;
      transition: transform 0.5s ease-in-out;
      object-fit: contain;

      &:hover {
        transform: rotate(360deg);
      }
    }
  }
}

@media (max-width: 400px) {
  .skills {
    padding: 3rem 0;
    
    &__title {
      font-size: 32px;
      padding-left: 12px;
      text-align: center;
    }
    
    &__grid {
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
      padding: 0 1rem;
    }
    
    .skill {
      &__icon {
        width: 60px;
        height: 70px;
      }
    }
  }
}
